body{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
html,body{
	width: 100%;
	height: 100%;
}

table{
	margin:0 auto;
}
td{
	width: 100px;
    height: 58px;
    text-align: center;
    line-height: 5px;
    padding: 10px;
}
.td1{
	border-right: 40px solid #93d4c8;
}
td{
	background: #d6f1f3;
	font-size: 16px;
}
a{
 color: #5777d1;
	text-decoration:none;
}
.div1{
	margin: 15px;
	width: 200px;
	height: 80px;
	border: 1px solid;
	text-align: center;
	line-height: 50px;
	margin-left: 42.5%;
	background: #2ed842;
	color: #FFFFFF;
}
#que {
    width: 1000px;
    margin: 20px auto;
    text-align: left;
}


.lv{
	margin: 15px;
	width: 40px;
	height: 40px;
	background-color: #8dda53;
	float: left;
}
.hong{
	margin: 15px;
	width: 40px;
	height: 40px;
	background-color: rgb(226, 97, 97);
	float: left;
}
.qian{
	margin: 15px;
	width: 40px;
	height: 40px;
	float: left;
}
.chi{
	margin: 15px;
	width: 40px;
	height: 40px;
	float: left;
}
.context{
		width: 100%;
		height: 100%;
}




#d1{
		width: 400px;
		height: 300px;
		margin-top: -500px;
		margin-left: 400px;
		text-align: center;
		border: 1px solid red;
		position: absolute;
		 display:none;
		 z-index: 99;
		 background: #c3e4e0;
	}
	#d1>p{
		width: 97%;
		/* border: solid; */
		margin:0;
		padding:0;
		/* padding-right: 5px; */
		background-color: #c3e4e0;
		text-align: right;
	}
		#d1>p>span{
			cursor:pointer;
		}
		#d1 button{
			border:none;
		}
	p{
		line-height: 20px;
	}
	.div9{
		width: 35px;
		height: 35px;
		margin-top: 0px;
		margin-left: 365px;
		line-height: 35px;
		z-index: 99;
	}
