body{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
}

table{
	margin:0 auto;
}
td{
	width: 100px;
    height: 58px;
    text-align: center;
    line-height: 5px;
    padding: 10px;
}
.td1{
	border-right: 40px solid #93d4c8;
}
td{
	background: #d6f1f3;
	font-size: 16px;
}
a{
 color: #5777d1;
	text-decoration:none;
}
.div1{
	margin: 15px;
	width: 200px;
	height: 80px;
	border: 1px solid;
	text-align: center;
	line-height: 50px;
	margin-left: 42.5%;
	background: #2ed842;
	color: #FFFFFF;
}
#que {
    width: 1000px;
    margin: 20px auto;
    text-align: left;
}


.lv{
	margin: 15px;
	width: 40px;
	height: 40px;
	background-color: #8dda53;
	float: left;
}
.hong{
	margin: 15px;
	width: 40px;
	height: 40px;
	background-color: rgb(226, 97, 97);
	float: left;
}
.qian{
	margin: 15px;
	width: 40px;
	height: 40px;
	float: left;
}
.chi{
	margin: 15px;
	width: 40px;
	height: 40px;
	float: left;
}
.context{
		width: 100%;
		height: 100%;
}


.box{
	width: 100%;
	height: 100%;
	position: relative;
	display: none;
	opacity: .5;
	background-color: #444040;
}
.popup{
	width: 300px;
	height: 200px;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -150px;
	background-color: #fff;
	border:solid 2px yellow;
	z-index: 999;
}
.popup>p{
	width: 97%;
	text-align: right;
	padding-right: 10px;
	border-bottom: solid 1px;
	background-color: yellow;
	cursor: pointer;
}





#d1{
		width: 400px;
		height: 300px;
		margin-top: -500px;
		margin-left: 400px;
		text-align: center;
		border: 1px solid red;
		position: absolute;
		 display:none;
		 z-index: 99;
		 background: #a0a4a7;
	}
	p{
		line-height: 20px;
	}
	.div9{
		width: 35px;
		height: 35px;
		margin-top: 0px;
		margin-left: 365px;
		line-height: 35px;
		z-index: 99;
	}
