body{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
table{
	margin:0 auto;
}
td{
	width: 100px;
    height: 58px;
    text-align: center;
    line-height: 5px;
    padding: 10px;
}
.td1{
	border-right: 40px solid #93d4c8;
}
td{
	background: #d6f1f3;
	font-size: 16px;
}
a{
 color: #5777d1;
	text-decoration:none;
}
.div1{
	margin: 15px;
	width: 200px;
	height: 80px;
	border: 1px solid;
	text-align: center;
	line-height: 50px;
	margin-left: 42.5%;
	background: #2ed842;
	color: #FFFFFF;
}
#que {
    width: 1000px;
    margin: 20px auto;
    text-align: left;
}
