<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/fdyjm.css">
</head>
<body>
	<div class="div1">
				<div class="div2">
					<a href="#" onclick="show(5)">信工系</a>
				</div>
				<div class="div3"> <a href="#"  onclick="show(4)">大一</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_1"> <a href="#"  onclick="show(4)">大二</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_2"> <a href="#"  onclick="show(4)">大三</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div><br><br><br><br><br><br>
				<div class="div2">
					<a href="#" onclick="show(5)">财经系</a>
				</div>
				<div class="div3"> <a href="#"  onclick="show(4)">大一</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_1"> <a href="#"  onclick="show(4)">大二</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_2"> <a href="#"  onclick="show(4)">大三</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div><br><br><br><br><br><br>
				<div class="div2">
					<a href="#" onclick="show(5)">旅游系</a>
				</div>
				<div class="div3"> <a href="#"  onclick="show(4)">大一</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_1"> <a href="#"  onclick="show(4)">大二</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_2"> <a href="#"  onclick="show(4)">大三</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div><br><br><br><br><br><br>
				<div class="div2">
					<a href="#" onclick="show(5)">外语系</a>
				</div>
				<div class="div3"> <a href="#"  onclick="show(4)">大一</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_1"> <a href="#"  onclick="show(4)">大二</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_2"> <a href="#"  onclick="show(4)">大三</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div><br><br><br><br><br><br>
				<div class="div2">
					<a href="#" onclick="show(5)">艺设系</a>
				</div>
				<div class="div3"> <a href="#"  onclick="show(4)">大一</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_1"> <a href="#"  onclick="show(4)">大二</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_2"> <a href="#"  onclick="show(4)">大三</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div><br><br><br><br><br><br>
				<div class="div2">
					<a href="#" onclick="show(5)">数学系</a>
				</div>
				<div class="div3"> <a href="#"  onclick="show(4)">大一</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_1"> <a href="#"  onclick="show(4)">大二</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_2"> <a href="#"  onclick="show(4)">大三</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div><br><br><br><br><br><br>
				<div class="div2">
					<a href="#" onclick="show(5)">中文系</a>
				</div>
				<div class="div3"> <a href="#"  onclick="show(4)">大一</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_1"> <a href="#"  onclick="show(4)">大二</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_2"> <a href="#"  onclick="show(4)">大三</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div><br><br><br><br><br><br>
				<div class="div2">
					<a href="#" onclick="show(5)">体育系</a>
				</div>
				<div class="div3"> <a href="#"  onclick="show(4)">大一</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_1"> <a href="#"  onclick="show(4)">大二</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div>
				<div class="div3 div3_2"> <a href="#"  onclick="show(4)">大三</a>
					<div class="div7">
						<div class="div3 div4"> <a href= "#" onclick="show(1)">1班</a> </div>
						<div class="div3 div5"> <a href= "#" onclick="show(2)">2班</a> </div>
						<div class="div3 div6"> <a href= "#" onclick="show(3)">3班</a> </div>
					</div>
				</div><br><br><br><br><br><br>
	</div>
	<div>
	    <div id="d1" name="dv">
	    	<a href="#" class="div9" name="sad" onclick="show();">X</a>
			<p>（迟到） 迟到人数（日/周）：1/25</p>
			<p>当日迟到人名：xxx，yyy。</p>
			<p>本周迟到人名：人名（次数）</p>
			<p>（旷课）旷课人数（日/周）：1/25</p>
			<p>当日旷课人名：xxx，yyy。</p>
			<p>本周旷课人名：人名（次数）</p>
			<p>（请假）请假人数（日/周）：1/25</p>
			<p>当日请假人名：xxx,yyy。<p>
			<p>本周请假人名：人名（次数）</p>

	    </div>
	    <div id="d2" name="dv">
	    	<a href="#" class="div9" name="sad" onclick="show();">X</a>
			<p>（迟到） 迟到人数（日/周）：1/25</p>
			<p>当日迟到人名：xxx，yyy。</p>
			<p>本周迟到人名：人名（次数）</p>
			<p>（旷课）旷课人数（日/周）：1/25</p>
			<p>当日旷课人名：xxx，yyy。</p>
			<p>本周旷课人名：人名（次数）</p>
			<p>（请假）请假人数（日/周）：1/25</p>
			<p>当日请假人名：xxx,yyy。<p>
			<p>本周请假人名：人名（次数）</p>

		</div>
	    <div id="d3" name="dv">
	    	<a href="#" class="div9" name="sad" onclick="show();">X</a>
			<p>（迟到） 迟到人数（日/周）：1/25</p>
			<p>当日迟到人名：xxx，yyy。</p>
			<p>本周迟到人名：人名（次数）</p>
			<p>（旷课）旷课人数（日/周）：1/25</p>
			<p>当日旷课人名：xxx，yyy。</p>
			<p>本周旷课人名：人名（次数）</p>
			<p>（请假）请假人数（日/周）：1/25</p>
			<p>当日请假人名：xxx,yyy。<p>
			<p>本周请假人名：人名（次数）</p>

	    </div>
	    <div id="d4" name="dv">
	  		<a href="#" class="div9" name="sad" onclick="show();">X</a>
			<p>（迟到）一班迟到人数（日/周）：1/25；</p>
			<p>二班迟到人数（日/周）：1/25；</p>
			<p>三班迟到人数（日/周）：1/25；</p>
			<p>（旷课）一班旷课人数（日/周）：1/25；</p>
			<p>二班旷课人数（日/周）：1/25；</p>
			<p>三班旷课人数（日/周）：1/25；</p>
			<p>（请假）一班请假人数（日/周）：1/25；</p>
			<p>二班请假人数（日/周）：1/25；</p>
			<p>三班请假人数（日/周）：1/25；</p>

	    </div>
	    <div id="d5" name="dv">
	    	<a href="#" class="div9" name="sad" onclick="show();">X</a>
	    	<p>（迟到）大一迟到人数（日/周）：1/25；</p>
			<p>大二迟到人数（日/周）：1/25；</p>
			<p>大三迟到人数（日/周）：1/25；</p>
			<p>（旷课）大一旷课人数（日/周）：1/25；</p>
			<p>大二旷课人数（日/周）：1/25；</p>
			<p>大三旷课人数（日/周）：1/25；</p>
			<p>（请假）大一请假人数（日/周）：1/25；</p>
			<p>大二请假人数（日/周）：1/25；</p>
			<p>大三请假人数（日/周）：1/25；</p>
		</div>
	</div>
	<script type="text/javascript" src="__PUBLIC__/js/fdyjm.js"></script>

</body>
</html>
