<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/style/lsjm.css">
	<script src="__PUBLIC__/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="div1"><p>讲台</p></div>

<table width="1250" border="0" id='tab'>
  <tr>
    <td></td>
    <td class="td1"><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>
  <tr>
    <td>

       <a href=""></a>

    </td>
    <td class="td1"><a href=""></a></td>
    <td><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>
  <tr>
    <td>

       <a href=""></a>

    </td>
    <td class="td1"><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>
  <tr>
    <td>

       <a  href=""></a>

    </td>
    <td class="td1"><a href=""></a></td>
    <td><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>
  <tr>
    <td>

       <a  href=""></a>

    </td>
    <td class="td1"><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>

</table>

<p id="que">缺席：</p>

<script src="__PUBLIC__/js/lsjm.js"></script>
<script>

</script>

</body>
</html>
