<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/style/lsjm.css">
	<script src="__PUBLIC__/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="div1"><p>讲台</p></div>

<table width="1250" border="0" id='tab'>
  <tr>
    <td>aaa</td>
    <td class="td1"><a href="">dd</a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>
  <tr>
    <td>

       <a href=""></a>

    </td>
    <td class="td1"><a href=""></a></td>
    <td><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>
  <tr>
    <td>

       <a href=""></a>

    </td>
    <td class="td1"><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>
  <tr>
    <td>

       <a  href=""></a>

    </td>
    <td class="td1"><a href=""></a></td>
    <td><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>
  <tr>
    <td>

       <a  href=""></a>

    </td>
    <td class="td1"><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>

</table>

<script src="__PUBLIC__/js/lsjm.js"></script>
<script>
//
// $(document).ready(function(){
// 	console.log(2123)
// 	$("#tab td").click(function() {
//
// 		var column_num = parseInt( $(this).index() ) + 1;
// 		var row_num = parseInt( $(this).parent().index() )+1;
//
// 		alert( "Row_num =" + row_num + "  ,  Rolumn_num ="+ column_num );
// 	});
// });
</script>

</body>
</html>
