<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/style/lsjm.css">
</head>
<body>
<div class="div1"><p>讲台</p></div>

<table width="1250" border="0" id='tab'>
  <tr>
    <td>

       <a href=""></a>

    </td>
    <td class="td1"><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>
  <tr>
    <td>

       <a href=""></a>

    </td>
    <td class="td1"><a href=""></a></td>
    <td><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>
  <tr>
    <td>

       <a href=""></a>

    </td>
    <td class="td1"><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>
  <tr>
    <td>

       <a  href=""></a>

    </td>
    <td class="td1"><a href=""></a></td>
    <td><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a  href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>
  <tr>
    <td>

       <a  href=""></a>

    </td>
    <td class="td1"><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
    <td class="td1"><a href=""></a></td>
    <td><a href=""></a></td>
    <td><a href=""></a></td>
  </tr>

</table>

<script src="__PUBLIC__/js/lsjm.js"></script>

</body>
</html>
